<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="EscapeClosesApplication" value="false"/>
        <add key="ShowKeyboardHint" value="true"/>
        <add key="NumCharactersToDisplay" value="50"/>
        <add key="FormXPositionInPixels" value="50" />
        <add key="FormYPositionInPixels" value="50" />
    </appSettings>
</configuration>
